page-list {

}

    .card-content {
        transform-style: preserve-3d;
        transition: transform 1s;
        border: 1px solid black;
        height: 200px;
      
    }

    .front, .back {
        margin: 0;
        display: block;
        position: absolute;

        backface-visibility: hidden;
        border: 1px solid red;
    }
    .back {
        transform: rotateY( 180deg );
    }

    .card-content.flipped {
        transform: rotateY( 180deg );
      
    }  
.card-content.flipped .front {
  /*display: none;*/
}