.list {
      position: relative;
  perspective: 800px;
}

.card {
    transform-style: preserve-3d;
    transition: transform 1s;  
  width: 100%;
  height: 200px;
    
    .card-content {

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;       
    }

    .front {
        background: red;
    }

    .back {
          background: blue;
  transform: rotateY( 180deg );
    }

    &.flipped {
transform: rotateY( 180deg );
    }


}

/*

    .card-content {
        transform-style: preserve-3d;
        transition: transform 1s;
        border: 1px solid black;
        width: 200px;
        height: 200px;
      
    }

    .front, .back {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border: 1px solid red;
    }
    .back {
        transform: rotateY( 180deg );
    }

    .card-content.flipped {
        transform: rotateY( 180deg );
      
    }  
.card-content.flipped .front {
  // display: none;
}
*/